* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 4px;
    color: #003366; 
    margin-bottom: 30px;
}

h1::after {
    content: "";
    display: block;
    width: 250px;
    height: 10px;
    background: gold;
    margin: 10px auto 0;
    border-radius: 10px;
}


label {
    display: block; 
    width: 300px;
    text-align: left; 
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
    display: block;
    margin-bottom: 15px; 
}

input:focus {
    border-color: #003366;
    box-shadow: 0 0 5px rgba(0, 51, 102, 0.3);
}

button {
    width: 300px; 
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #003366, #0077ff);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0, 85, 170, 0.4);
}

button:active {
    transform: scale(0.98);
}

p {
    margin: 20px 0 10px 0;
    color: #555;
    text-align: center; 
}

a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#status-msg.erro {
    background-color: #fce8e6;
    color: #a80000;
    border: 1px solid #a80000;
    padding: 12px;
    margin: 15px 0;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

#status-msg.sucesso {
    background-color: #e6f4ea;
    color: #137333;
    border: 1px solid #137333;
    padding: 12px;
    margin: 15px 0;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}